main .title{
    text-align: center;
    position: absolute;
    left: 0;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
}
main .title p{
    font-size: 1.3rem;
}
main .title h1{
    margin-bottom: 0;
    font-size: 10vw;
    position: relative;
    display: inline-block;
    padding: 0 65px;
}
main .title h1::before,
main .title h1::after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: '';
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
main .title h1::before {
  left: 0;
}

main .title h1::after {
  right: 0;
}
main .cards .card p{
    font-size: 1.3rem;
}
.imageAnime{
    width: 100vw;
    height: 70vh;
    animation-name: slideshow;
    animation-delay: 0s;
    animation-duration: 7s;
}
@keyframes slideshow {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.cards{
    margin-top: 50vh;
}